table {
  border-collapse: collapse;
  border: none;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#container{
	position: relative;
}

tr {
  border: none;
  margin: 0px;
  padding: 0px;
  position: relative;
}
td {
  position: relative;
}
body {
  margin: 0px;
  padding: 0px;
}
.cell {
  text-align:center;
  vertical-align: middle;
  font-family: "Helvetica";
  font-size: 30pt;
  border: none;
  margin: 0px;
  padding: 0px;
}
.stone{
	display: block;
}
.dark {
  background-image: url(img/boardDark.png);
}
.light {
  background-image: url(img/boardLight.png);
}

.slowlyAppear {
  -webkit-animation: slowlyAppear 0.5s linear;
	-moz-animation: slowlyAppear 0.5s linear;
	-ms-animation: slowlyAppear 0.5s linear;
	-o-animation: slowlyAppear 0.5s linear;
	animation: slowlyAppear 0.5s linear;
}

@-webkit-keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
@-moz-keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
@-o-keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
